Day1/Bai5/student_report.dtd

<!ELEMENT STUDENT_REPORT (STUDENT_INFO,GRADES)>

<!ELEMENT STUDENT_INFO (FULL_NAME, CLASS, GENDER, DATE_OF_BIRTH)>
<!ELEMENT FULL_NAME (#PCDATA)>
<!ELEMENT CLASS (#PCDATA)>
<!ELEMENT GENDER (#PCDATA)>
<!ELEMENT DATE_OF_BIRTH (#PCDATA)>

<!ELEMENT GRADES (SUBJECT+)>

<!ELEMENT SUBJECT (NAME ,SEM_1, SEM_2, AVG_SCORE)>
<!ELEMENT NAME (#PCDATA)>
<!ELEMENT SEM_1 (#PCDATA)>
<!ELEMENT SEM_2 (#PCDATA)>
<!ELEMENT AVG_SCORE (#PCDATA)>
