Lesson1/Bai3/mydtd.dtd

<!ELEMENT DOCUMENT (CUSTOMER)>
<!ELEMENT CUSTOMER (NAME,DATE,ORDERS)>
<!ATTLIST CUSTOMER TYPE CDATA "Good">

<!ELEMENT NAME (LAST_NAME,FIRST_NAME)>
<!ELEMENT LAST_NAME (#PCDATA)>
<!ELEMENT FIRST_NAME (#PCDATA)>

<!ELEMENT DATE (#PCDATA)>

<!ELEMENT ORDERS (ITEM+)>
<!ATTLIST ORDERS class CDATA "SanPham">

<!ELEMENT ITEM (PRODUCT,NUMBER,PRICE)>
<!ELEMENT PRODUCT (#PCDATA|PRODUCT_ID)*>
<!ELEMENT PRODUCT_ID (#PCDATA)>
<!ELEMENT NUMBER (#PCDATA)>
<!ELEMENT PRICE (#PCDATA)>