Lesson2/Bai1/personal_infor.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="https://hocvietcode.com"
xmlns="https://hocvietcode.com" 
elementFormDefault="qualified"
>
    <xs:element name="PERSONAL_INFOR">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="NAME" type="xs:string"></xs:element>
                <xs:element name="AGE" type="xs:integer"></xs:element>
                <xs:element name="ADDRESS" type="xs:string"></xs:element>
                <xs:element name="PHONE" type="xs:string"></xs:element>
            </xs:sequence> 
        </xs:complexType>
    </xs:element>
</xs:schema>